$whiteTextColor: #000;
$whiteHoverText: #333;

header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 148px;
    border-bottom: 2px red solid;
    .title
    {
        position: absolute;
        text-decoration: none;
        top: 50%;
        left: 50%;
        color: $whiteTextColor;
        font-size: 60px;
        font-weight: 600;
        transform: translate(-50%, -50%);
        span
        {
            font-family: 'Comic Neue', cursive;
        }
    }
    .sub
    {
        position: absolute;
        top: 80%;
        left: 50%;
        margin-right: 10px;
        color: $whiteTextColor;
        font-size: 18px;
        font-weight: 400;
        font-family: 'Comic Neue', cursive;
        transform: translate(-50%, -50%);
    }
    .pages
    {
        position: absolute;
        display: inline-flex;
        top: 150px;   
        width: 100vw;
        height: 50px;
        border-bottom: 2px #ccc solid;
        a, button
        {
            text-decoration: none;
            color: $whiteTextColor;
            font-size: 18px;
            font-weight: 600;
            margin-top: 15px;
            cursor: pointer;
            transition: color 0.3s linear;
        }
        .home
        {
            width: 100px;
            height: 50px;
            align-items: center;
            text-align: center;
            .text
            {
                position: absolute;
                margin-top: 15px;
            }
            .text:hover
            {
                color: $whiteHoverText;
            }
        }
        .home::before
        {
            content: '';
            position: relative;
            top: 7px;
            left: 100%;
            height: 0px;
            padding-bottom: 15px;
            border-right: 1px #ccc solid;
        }

        .category
        {
            position: absolute;
            margin-left: 200px;
            height: 50px;
            button
            {
                background-color: rgb(250, 250, 250);
                width: 120px;
                height: 40px;
                margin-top: 5px;
                border: 0px;
                transition: background-color 0.5s;
            }
            button:hover
            {
                background-color: rgb(245, 245, 245);
            }
            .cat
            {
                position: absolute;
                display: none;
                background-color: #f9f9f9;
                width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                transition: display 0.3s linear;
                z-index: 1;
                a
                {
                    color: $whiteTextColor;
                    padding: 12px 16px;
                    text-decoration: none;
                    display: block;
                    transition: color 0.3s linear;
                }
                a:hover
                {
                    color: $whiteHoverText;
                }
            }
        }
        .category:hover .cat
        {
            display: block;
        }
        .new
        {
            position: fixed;
            right: 15px;
            height: 50px;
            button
            {
                background-color: rgb(250, 250, 250);
                width: 150px;
                height: 40px;
                margin-top: 5px;
                border: 0px;
                transition: background-color 0.5s;
            }
            button:hover
            {
                background-color: rgb(245, 245, 245);
            }
        }
    }
}