@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@800&family=Merriweather:wght@300&display=swap');
@import './header';
*
{
    font-family: 'Merriweather', serif;
    outline: none;
}